# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Secrets
.env

# Vector Database
chroma_db/

# Hackathon Data and Outputs
data/
support_tickets/*.csv

# Logs
log.txt

# Vector Database
chroma_db/
*.sqlite3